
*{box-sizing:border-box}
body{display:flex;align-items:center;justify-content:center;background:url(https://img.freepik.com/free-photo/autumn-leaves-composition_23-2151555017.jpg?t=st=1718084038~exp=1718087638~hmac=3baa0e2f4a65627f0f62ab56839edbf85e4aaf61fa9617e29c414bec0dfcc088&w=1060);height:100vh;background-size:cover}
